@import "../common";

@shaded-color: shade(@primary-color, 30%);

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;

  width: 100%;
  background: linear-gradient(180deg, black, fade(black, 5%) 100%) no-repeat;

  .routing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;


    .active {
      background-color: @shaded-color;
    }
  }

  .routing-item {
    padding: 0 25px 0 25px;
    color: @font-color;
    font-size: @font-size-large;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background-color: @shaded-color;
      transition: background-color 500ms linear;
    }
  }
}
