@import "../common";

.map-overlay-container {
    padding: 10px;

    .MuiButton-label {
        font-size: @font-size-small;
    }

    .MuiButton-root {
        background-color: @primary-color;
    }
}
