@import "../common";

.trends-page {
  background-color: @secondary-color;
  height: 100vh;

  .page-body {
    background-color: @secondary-color;
    display: flex;
    padding: 3ch;

    #products-trends-container {
      height: 80vh;
      width: 30ch;
      overflow: auto;
      background-color: lighten(@secondary-color, 5%);

      .product-trend-row {
        padding: 1ch;
        border-bottom: 1px solid rgba(black, 100%);
        color: @font-color;

        &:hover {
          background-color: rgba(black, 20%);
          cursor: pointer;
        }
      }

      .loading-message, .end-message {
        color: @font-color;
        text-align: center;
      }
    }
  }
}
