@import "../common";

.trends-page {
  background-color: @secondary-color;
  height: 100vh;

  .page-body {
    background-color: @secondary-color;
    display: flex;
    padding: 3ch;

    .container-headers {
      display: flex;
      flex-direction: row;
      padding: 1ch;
      background-color: lighten(@secondary-color, 10%);
      color: @font-color;

      .product-name-column {
        display: flex;
        align-items: center;
      }
    }

    .products-trends-container {
      display: flex;
      flex-direction: column;

      #infinite-scroll-container {
        height: 80vh;
        overflow: auto;
        background-color: lighten(@secondary-color, 5%);

        .product-trend-row {
          padding: 1ch;
          border-bottom: 1px solid rgba(black, 100%);
          color: @font-color;
          display: flex;
          flex-direction: row;

          &:hover {
            background-color: rgba(black, 20%);
            cursor: pointer;
          }

          .search-count-column {
            display: flex;
            justify-content: center;
          }
        }

        .loading-message, .end-message {
          color: @font-color;
          text-align: center;
        }
      }

      .product-name-column {
        width: 30ch;
      }

      .search-count-column {
        width: 8ch;
      }
    }

  }
}
