.placeMarker {
    width: 3em;
    height: 3em;
    background-color: forestgreen;

    border-radius: 100%;
    border-color: limegreen;

    /*center*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeIcon {
    /*border: 2px solid black;*/
}
