@import "../common";

.button.MuiButton-root {
  background-color: @primary-color;
  color: @font-color;

  font-size: @font-size-medium;
  font-weight: bold;
  text-shadow: 1px 1px black;

  padding: 0.5ch 3ch 0.5ch 3ch;

  width: 100%;
}
