@import "../common";

.button.MuiButton-root {
  background-color: @primary-color !important;
  color: @font-color !important;
  font-weight: bold !important;
  text-shadow: 1px 1px black !important;

  max-height: 5ch !important;
  max-width: 25ch !important;
  margin: 0 1ch 0 1ch !important;
}
