@import "../common";

.form-container {
  display: flex;
  flex-direction: column;

  min-width: 60ch;
  min-height: 40ch;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;

  background-color: @secondary-color;

  .close-button-container {
    display: flex;
    width: 100%;
    height: 3ch;
    justify-content: flex-end;
  }

  .MuiIconButton-label {
    color: @primary-color
  }

  .form-body {
    padding: 1ch;
  }
}
