@import "../common";

.product-trend-analysis {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: @font-color;
    font-size: @font-size-large;
  }
}

.no-product-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: @font-color;

  width: 100%;

  .MuiCircularProgress-colorPrimary {
    color: @font-color;
  }
}
