.chairContainer {
    display: flex;
    flex-direction: row;
    background-color: #888;

    .title {
        font-size: large;
    }

    .details {
        font-size: small;
        margin-left: 10px;
    }
}
