.vendorMarker {
    width: 3em;
    height: 3em;
    background-color: forestgreen;

    border-radius: 100%;
    border-color: limegreen;

    /*center*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    height: 100vh;
    width: 100vw;
}
